


.heading-padding{
	padding-top: 64pt;
}

.grid-image{
	width:100%;
	height:250px;
	object-fit: cover;
}

.text-image{
	margin-right: 20pt;
	margin-bottom: 20pt;
	float: left;
	width:400px;
	height:500px;
}
.mySlides {display:none;}

